.sidebarOption {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-left: 20px;
}

.sidebarOption:hover {
    background-color: white;
    border-radius: 30px;
    color: var(--twitter-color);
    transition: all 0.15s ease-in-out;
}

.sidebarOption > .MuiSvgIcon-root {
    padding: 20px;
}

.sidebarOption > h2 {
    font-weight: 800;
    font-size: 20px;
    margin-left: 20px;
}